<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    /* Style for the word "Pairing" */
    .pairing {
      color: deepskyblue; /* Change this to your desired color */
    }
  </style>
</head>
<body>
<div layout:fragment="main-content">
  <h1>Home P<span class="pairing">air</span>ing <span class="pairing">B</span>ei<span class="pairing">n</span>g <span class="pairing">B</span>etter!</h1>
</div>
</body>
</html>