<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Submit New Property</title>
</head>
<body>
<div layout:fragment="main-content">
    <h2>Property submission form!</h2>
    <div th:if="${errorMessage}">
    </div>
    <form th:action="@{/property/submit}" th:object="${property}" method="post">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" class="form-control" th:field="*{title}" placeholder="Enter property title" required>
        </div>
        <!-- Price Field -->
        <div class="form-group">
            <label for="price">Price per night:</label>
            <input type="text" id="price" class="form-control" th:field="*{price}" placeholder="Enter property price" required>
        </div>
        <!-- Square Meters Field -->
        <div class="form-group">
            <label for="squareMeters">Square Meters:</label>
            <input type="text" id="squareMeters" class="form-control" th:field="*{squareMeters}" placeholder="Enter square meters" required>
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" id="address" class="form-control" th:field="*{address}" placeholder="Enter property address" required>
        </div>
<!--        <div>-->
<!--            <label for="title">Title:</label>-->
<!--            <input type="text" th:field="*{title}" id="title"/>-->
<!--            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>-->
<!--        </div>-->
        <button type="submit">Submit property</button>
    </form>
</div>
</body>
</html>